.product-list {
  list-style-type: none;
  margin: 0;
  width: 100%;
  color: #757575;
}

.product-list__header {
  border-bottom: 1px solid #757575;
}

.product-list__header-item {
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold; 
  padding: 5px;
  width: 50%;
}