.app {
  height: 100%;
  margin: auto;
  text-align: center;
  width: 960px;
}

.app-header {
  background-color: #222;
  color: white;
  display: table;
  height: 100px;
  width: 100%;
}

.app-header h2 {
  display: table-cell;
  vertical-align: middle;
}

.app-content {
  height: calc(100% - 100px);
  position: relative;
  width: 100%;
}

.app-content__add-form {
  position: absolute;
  left: 0;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.app-content__product-list {
  height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}